body
{
	background-image: url("twinkling-stars.gif");
	background-color: navy;
	color: black;
	font-family: "Times New Roman", sans-serif;
}

/*In the case that the background image does not work, navy is the default background color*/

h1
{
	text-align: center;
	color: black;
	font-size: 400%;
	padding-top: 3%;
}

h2
{
	text-align: center;
    	color: black;
	font-size: 300%;
	padding-top: 3%;
}

h3
{
	padding-left: 5%;
	color: black;
	font-size: 225%;
	padding-top: 3%;
}

h4
{
	padding-left: 5%;
	color: black;
	font-size: 175%;
	padding-top: 3%;
}

h5
{
	padding-left: 5%;
	color: black;
	font-size: 125%;
	padding-top: 3%;
}

/*Padding-top gives a nice space between the headings and previous content. Black colour for heading for colour scheme*/

p
{
	text-align: justify;
	font-size: 140%;
	line-height: 175%;
	margin: auto;
	padding-bottom: 3%;
	padding-left: 5%;
	padding-right: 5%;
}

#introp
{
	padding-bottom: 10%;
}
/*For paragraphs at the top before tables of content. Padding-bottom is to create a space between the paragraph and table of contents so it doesn't like compacted*/

ol
{
	display: inline-block;
	padding-left: 25%;
	padding-right: 25%;
}

#speciallist
{	
	list-style-type: none;
	text-align: center;
	font-size: 175%;
	margin: auto;
	padding: 10px;
	box-shadow: 5px 10px 10px 5px;
	width: 50%;
}

div
{
	background-color: white;
}

#specialdiv
{
	padding: 1%;
}

div
{
	margin: 0 auto;
	width: 85%;
}

.indent
{
	text-indent: 5%;
}
/*For paragraphs with indentation*/

img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
	border: 9px solid lightgray;
}
/*For centered images with borders*/

.noborder
{	
	border: 0px;
}
/*imgs without borders*/

figcaption
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 125%;
	color: navy;
}

/*Shares attributes with img so they align. Navy is to distinguish caption from regular text. */
/*Class special fig is for 2 figure captions under the same img. Margin-bottom is added so it separates cpation from paragraphs below*/

table, tr, th, td
{
	font-size: 120%;
	margin-left: 35%;
	border: 1px solid black;
}

/* The colour classes below are for the table. The table shows information on colour, colour classes were added as a visual aid*/ 

.red 
{
	color: red;
}

.orange-red
{
	color: RGB(255, 63, 52)
}

.orange
{
	color: orange;
}

.yellow
{
	color: yellow;
}

.yellow-white
{
	color: RGB(255, 239, 170);
}

.white
{
	color: gray;
}

.blue
{
	color: teal;
}

#toplink
{
	color: gray;
	text-align: center;
	font-size: 100%;
}
	
#whitetext
{
	color: white;
	font-size: 150%;
}

/*The ID above is for return to above text. Since the background is black, it needs to be white text.*/

.topnav 
{
	overflow: hidden;
	background: url("star.gif");
}

.topnav a
 {
	float: left;
	color: white;
	text-align: center;
	margin-left: 15%;
	margin-bottom: 5%;
	text-decoration: none;
	font-size: 200%;
}

/*margin-left is so that buttons won't be close to each other and look like the same link*/

.topnav a:hover 
{
	background: url("star.gif");
	color: white;
}

.topnav a.active 
{
	background: url("star.gif");
	color: white;
}


