body
{
	background-image: url("twinkling-stars.gif");
	background-color: navy;
	color: black;
}
/*In the case that the background image does not work, navy is the default background color*/

h1
{
    text-align: center;
    color: black;
	font-size: 300%;
}

h2, h3 
{
    text-align: center;
    color: black;
    font-size: 200%;
}

p
{
    text-align: justify;
    margin: 20px;
	background-color: white;
}

div
{
	background-color: white;
	width: 70%;
	border: 1px solid white;
	margin: 0 auto;
	padding: 10px;
	text-align: justify;
	font-size: 90%;
	font-family: "Times New Roman", sans-serif;
	color: black;
}

.centerdiv
{
	margin: 0 auto;
	width: 85%;
}
/*The centerdiv class exists to center division elements*/

.centerdivindent
{
	margin: 0 auto;
	width: 85%;
	text-indent:30px;
}
/*For paragraphs with indentation*/

.centerimg
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 50%;
}
/* For centered images, check back again*/

.centerlist
{
	margin: auto;
	width: 50%;
	display: block;
}
/*Class for centered lists*/

.topnav 
{
  overflow: hidden;
  background: url("star.gif");
}

.topnav a
 {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover 
{
  background: url("images/star.gif");
  color: white;
}

.topnav a.active 
{
  background: url("images/star.gif");
  color: white;
}

